#content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    min-height: 500px;
    max-height: 1000px;
    animation: testing 10s infinite;
    animation-direction: alternate;
}

@keyframes testing {
    from{background-color: #caf0f8 ;}
    to{background-color: #90e0ef;} 
}

#header {
    grid-column: 1/6;
    grid-row: 1/2;
    min-height: 10vh;
    max-height: 20vh;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 100px;
}

#calculator {
    grid-column: 1/6;
    grid-row: 2/5;
}

#calculator{
    display: grid;
    align-items: center;
}
#calculatorContainer {
    display: grid;
    /*min-height: 500px;
    max-height: 90vh;
    width: 500px; */
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px) auto;
    justify-self: center;
    align-items:center ;
    justify-content: center;
    background-color: #52B69A;
    border-radius: 20px;
    border: black solid 5px;
}

#calculatorItem{
    display: grid;
    /*grid-template-columns: auto;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 3/6;
    grid-row-start: 5;
    row-gap: 5px;
    column-gap: 5px;
    height: 100%;
    width: auto;
    align-content: stretch;
    justify-content: stretch;
    align-items: center;
    justify-items: center;
    background-color: #99D98C;
    border-radius: 20px;
    border: black solid;
    border-width: 3px 0px 3px 3px;
}

#footer {
    min-height: 100px;
    max-height: 200px;
}

.calculatorBtn{
    border-style: solid;
    border-color: #184e77; 
    border-width: thick;
    border-radius: 100%;
    height: 90%;
    font-size: 25px;
    margin: 10px;
    width: 90%;
    background-color: #D9ED92;
}

.calculatorBtnOperator{
    border-style: solid;
    border-color: #D9ED92;
    border-width: thick;
    border-radius: 100%;
    height: 90%;
    font-size: 25px;
    margin: 10px;
    width: 90%;
    background-color: #76c893;
}

.calculatorBtnOperator:hover{
    background-color: #ec7bf0;
}

.calculatorBtn:hover {
    background-color: #6478eb;
}
#calculatorBtnClear:hover {
    background-color: #b692f0;
}

#screenDisplayTop{
    display: grid;
    grid-row: 1/2;
    min-height: 100px;
    max-width: 100%;
    color: rgb(69, 79, 223);
    max-height: 100%;
    justify-self: end;
    justify-content: end;
    font-size: xx-large;
    justify-items: end;
    align-items: center;
    overflow: auto;
    margin: 0px 10px;
}

#screenDisplayBottom{
    display: grid;
    grid-row: 2/3;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: minmax(20px, 100px);
    max-width: 400px;
    height: 100%;
    justify-self: end;
    justify-content: end;
    font-size: xx-large;
    justify-items: end;
    align-items: center;
    overflow: auto;
    margin: 0px 10px;
}

#screenDisplayContainer{
    display: grid;
    background-color: darkgray;
    grid-template-columns: minmax(200px, 600px);
    grid-template-rows: 1fr 1fr;
    /*grid-auto-columns: minmax(0,100%);*/
    grid-auto-rows: minmax(20px, 100px) minmax(20px, 100px);
    justify-self: center;
    min-height: 100%;
    width: 80%;
    border-style: solid;
    border-width: 10px;
    border-color: #D9ED92;
    margin: 20px;
    grid-column:1/6 ;
    grid-row: 2/4 ;
    justify-items: end;
    align-items: center;
    overflow: hidden;
    
}
#calculatorBtnClear{
    display: grid;
    grid-column: 1/3;
    grid-row: 5/6;
    border-style: solid;
    border-color: #1A759F;
    border-width: thick;
    border-radius: 100%;
    height: 90%;
    align-self: center;
    justify-self: center;    
    align-content: center;
    justify-content: center;
    margin: 20px;
    width: 90%;
    background-color: #57abcb;
}