#content{
    min-height: 500px;
    max-height: 1000px;
}
#header {
    min-height: 10vh;
    max-height: 20vh;
}

#calculator {
    height: 500px;
}

#calculator{
    display: grid;
    align-items: center;
}
#calculatorContainer {
    display: grid;
    min-height: 500px;
    max-height: 90vh;
    width: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-self: center;
    align-items:center ;
    justify-content: center;
    background-color: #e27899;
    border-radius: 20px;
}
#calculatorItem{
    display: grid;
    /*grid-template-columns: auto;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 3/6;
    grid-row-start: 5;
    row-gap: 5px;
    column-gap: 5px;
    height: 100%;
    width: auto;
    align-content: stretch;
    justify-content: stretch;
    align-items: center;
    justify-items: center;
    background-color: #fa996c;
    border-radius: 20px;
}

#footer {
    min-height: 100px;
    max-height: 200px;
}

.calculatorBtn{
    border-style: solid;
    border-color: darkred;
    border-width: thick;
    border-radius: 100%;
    height: 90%;
    font-size: 25px;
    margin: 10px;
    width: 90%;
    background-color: #57abcb;
}

.calculatorBtn:hover {
    background-color: #019e48;
}
#calculatorBtnClear:hover {
    background-color: #9e0601;
}

#screenDisplayTop{
    display: grid;
    grid-row: 1/2;
    min-height: 100px;
    width: 100%;
    color: rgb(69, 79, 223);
    max-height: 100%;
    justify-self: end;
    justify-content: end;
    font-size: xx-large;
    justify-items: end;
    align-items: center;
}

#screenDisplayBottom{
    display: grid;
    grid-row: 2/3;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: minmax(0, auto);
    max-width: 400px;
    background-color: rgb(223, 69, 69);
    height: 100%;
    justify-self: end;
    justify-content: end;
    font-size: xx-large;
    justify-items: end;
    align-items: center;
}

#screenDisplayContainer{
    display: grid;
    background-color: darkgray;
    grid-template-columns: minmax(200px, 600px);
    grid-template-rows: auto auto;
    /*grid-auto-columns: minmax(0,100%);*/
    grid-auto-rows: minmax(20px, auto);
    justify-self: center;
    min-height: 100%;
    width: 80%;
    border-style: solid;
    border-width: 10px;
    border-color: bisque;
    margin: 20px;
    grid-column:1/6 ;
    grid-row: 2/4 ;
    justify-items: end;
    align-items: center;
}
#calculatorBtnClear{
    display: grid;
    grid-column: 1/3;
    grid-row: 5/6;
    border-style: solid;
    border-color: darkred;
    border-width: thick;
    border-radius: 100%;
    height: 90%;
    align-self: center;
    justify-self: center;    
    align-content: center;
    justify-content: center;
    margin: 20px;
    width: 90%;
    background-color: #57abcb;
}